<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
   

    <title>MiraWeb - JAC M12</title> 
    <script src="ejemplo.js"></script> 
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files --> 

    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="/resources/librerias/css_/bootstrap.min.css"> 

    <link rel="stylesheet" href="/resources/librerias/css_/font-awesome.css">

    <link rel="stylesheet" href="/resources/librerias/css_/fullpage.min.css">

    <link rel="stylesheet" href="/resources/librerias/css_/owl.carousel.css">

    <link rel="stylesheet" href="/resources/librerias/css_/animate.css">

    <link rel="stylesheet" href="/resources/librerias/css_/templatemo-style.css">

    <link rel="stylesheet" href="/resources/librerias/css_/responsive.css">


    </head>
    
    <body>
    
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#" id="logo" title="JAC M12">
                        MiraWeb
                    </a>


                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Inicio</a></li>
                                    <li data-menuanchor="slide02"><a href="login">Ingreso</a></li>
                                    <li data-menuanchor="slide03"><a href="registro">Registro</a></li>
                                    <li data-menuanchor="slide04"><a href="images">Imágenes</a></li> 
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div>
                    <img class="responsive" id="logo" src="/resources/images/Logo JAC.jpeg" height="80px" width="250px" >
                </div>
            </div>
        </header>

        <video autoplay muted loop id="myVideo">
          <source src="/resources/images/Network.mp4" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Bienvenido</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">JAC Mirador del Doce</h1>
                        <p class="animate" data-animate="fadeInUp">Los datos aqui despositados se encuentran previamente autorizados por sus titulares, al igual, se encuentran protegidos y regidos por la ley 1581 de 2012 que constituye el marco general de la protección de los datos personales en Colombia.</p>
                        <!--<div class="scroll-down next-section animate data-animate="fadeInUp""><img src="/resources/images/mouse-scroll.png" alt=""><span>Clic para iniciar sesión</span></div>-->
                        <div class="animate data-animate="fadeInUp""><a href="login"><img src="/resources/images/mouse-scroll.png" alt=""><span>Iniciar Sesión</span></a></div>
                        
                    </div>
                </div>
            </div>

          

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span></span>
                                <h2></h2>
                                
                            </div>

                           <!-- <div>
                                <img src="resources/images/Logo JAC.jpeg" height="180px" width="200px" class="img-fluid" alt="responsive image">
                            </div>

                            <p></p> -->
                            
            
                            <form>

                                <div class="row mb-3">
                                    <label for="inputUsuario" class="col-sm-2 col-form-label">Usuario</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="inputUsuario">
                                    </div>
                                  </div>
                                
                                <div class="row mb-3">
                                  <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
                                  <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3">
                                  </div>
                                </div>
                                
                                <div>
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button> 
                                </div>
        
                        
                               

                            </form>
                        
                        </div>
                        
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="/resources/images/mouse-scroll.png" alt=""><span>Clic para realizar registro en caso de no tener usuario ni contraseña</span></div>
                    </div>
                </div>
            </div>



            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">

                                
                                         <form class="row g-3" action="registro" method="POST">  
                                            
                                            <div class="col-md-6" >
                                                <label for="inputNombre" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="inputNombre">
                                              </div>
                                              <div class="col-md-6">
                                                <label for="inputApellido" class="form-label">Apellido</label>
                                                <input type="text" class="form-control" id="inputApellido">
                                              </div>
                                            <div class="col-md-6">
                                                <label for="inputNombre" class="form-label">Usuario</label>
                                                <input type="text" class="form-control" id="inputUsuario">
                                            </div>
                                            <div class="col-md-6">
                                              <label for="inputPassword4" class="form-label">Contraseña</label>
                                              <input type="password" class="form-control" id="inputPassword4">
                                            </div>
                                            <div class="col-12">
                                              <label for="rol" class="form-label">Rol</label>
                                              <select name="rol" id="rol" class="form-control">
                                                  <option value="vacio"></option>
                                                  <option value="admin">Admin</option>
                                                  <option value="Presidenta">Presidenta</option>
                                                  <option value="Secretaria">Secretaria</option>
                                                  <option value="Tesorero">Tesorero</option>
                                                  <option value="Fiscal">Fiscal</option>
                                              </select>
                                            </div>
                                            
                                            <div class="col-12">
                                                <button onclick="dato();" type="submit" class="btn btn-primary" >Registrar</button>
                                              </div>
  
                                              <div class="col-12">
                                                  <a href="#slide01" class="btn-cancel">Cancelar</a>
                                              </div>
                                          </form>

                                    </div>
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="/resources/images/circle.3.0.jpg" class="rounded" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="section animated-row" data-section="slide05">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Nadie puede más que todos juntos.</span>
                                <h2></h2>
                            </div>
                            <div class="gallery-section">
                                <div class="gallery-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/resources/images/Actividad.jpeg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>Ellos son el futuro.</h4>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/resources/images/IMG_1.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>¡La edad no es una barrera!</h4>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/resources/Images/Comunidad.jpeg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>¡Juntos Somo más! </h4>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <h2></h2>
                                <div class="title-block animate" data-animate="fadeInUp">
                                    <h6>Imágenes propiedad de MiraWeb</h6>
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>¿Quienes somos?</span>
                                <h2></h2>

                               <div class="card-deck">
                                <div class="card" style="width: 18rem;">
                                    <img src="/resources/images/IMG_2.jpg" class="card-img-top" alt="/resources/images/IMG_2.jpg">
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                  </div>
                            
                               </div>
                           
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       
    <script src="/resources/librerias/js/jquery.js"></script>

    <script src="/resources/librerias/js/bootstrap.min.js"></script>

    <script src="/resources/librerias/js/fullpage.min.js"></script>

    <script src="/resources/librerias/js/scrolloverflow.js"></script>

    <script src="/resources/librerias/js/owl.carousel.min.js"></script>

    <script src="/resources/librerias/js/jquery.inview.min.js"></script>

    <script src="/resources/librerias/js/form.js"></script>

    <script src="/resources/librerias/js/custom.js"></script>


  </body>
</html>