<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
   

    <title>MiraWeb - JAC M12</title> 
    <script src="ejemplo.js"></script> 
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files --> 

    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="/resources/librerias/css_/bootstrap.min.css"> 

    <link rel="stylesheet" href="/resources/librerias/css_/font-awesome.css">

    <link rel="stylesheet" href="/resources/librerias/css_/fullpage.min.css">

    <link rel="stylesheet" href="/resources/librerias/css_/owl.carousel.css">

    <link rel="stylesheet" href="/resources/librerias/css_/animate.css">

    <link rel="stylesheet" href="/resources/librerias/css_/templatemo-style.css">

    <link rel="stylesheet" href="/resources/librerias/css_/responsive.css">


    </head>
    
    <body>
    
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#" id="logo" title="JAC M12">
                        MiraWeb
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="inside">Recuerda</a></li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <video autoplay muted loop id="myVideo">
          <source src="/resources/images/Network.mp4" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">



            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span></span>
                                <h2></h2>
                                
                            </div>

                          
            
                            <form class="row g-3" action="registroActas" method="POST">
                        

                                <div class="row mb-3">
                                    <label for="inputUsuario" class="col-sm-4 col-form-label">Usuario que Registra</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="inputUsuario">
                                    </div>
                                  </div>
                                
                                <div class="row mb-3">
                                  <label for="inputFecha" class="col-sm-3 col-form-label">Fecha de Registro</label>
                                  <div class="col-sm-10">
                                    <input type="date" class="form-control" id="date">
                                  </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="ejemplo_archivo_1" class="col-sm-4 col-form-label">Adjuntar Archivo</label>
                                    <div class="col-sm-10">
                                      <input type="file" class="form-control" id="ejemplo_archivo_1">
                                      <input type="checkbox"> Activa esta casilla 
                                    </div>

                                    <div>
                                      <button type="submit" class="btn btn-default">Enviar</button>
                                    </div>
                                </div>
                                        
                                    


                            </form>
                            
                        </div>
                        
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><a href="/nuevosAfiliados"><img src="/resources/images/mouse-scroll.png" alt=""><span>Clic para realizar registro de afiliados</span></div>
                    </div>
                </div>
            </div>





        
       
    <script src="/resources/librerias/js/jquery.js"></script>

    <script src="/resources/librerias/js/bootstrap.min.js"></script>

    <script src="/resources/librerias/js/fullpage.min.js"></script>

    <script src="/resources/librerias/js/scrolloverflow.js"></script>

    <script src="/resources/librerias/js/owl.carousel.min.js"></script>

    <script src="/resources/librerias/js/jquery.inview.min.js"></script>

    <script src="/resources/librerias/js/form.js"></script>

    <script src="/resources/librerias/js/custom.js"></script>


  </body>
</html>